html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Noto Sans JP, sans-serif;
  line-height: 1.6;
  font-size: 4vw;
  background: #282c34;
  color: #eee;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

section {
  background-color: #333;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}
