@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Noto Sans JP, sans-serif;
  line-height: 1.6;
  font-size: clamp(16px, 4vw, 20px);
  background: #21252b;
  color: #eee;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

section {
  background-color: #282c34;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}
