.heading2Xl {
  font-size: 2.4em;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin: 0rem 0;
}

.headingXl {
  font-size: 1.8em;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.2em;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1em;
  padding: 1.6em;
  border-radius: 0.4em;
}

.borderCircle {
  border-radius: 50%;
}

.selfIntro {
  color: #999;
  padding-left: 4px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}

.selfIntro a {
  display: flex;
  flex-grow: 10;
}

.row {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1rem;
}
